
.flight-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: white;
}

.flight-table th,
.flight-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
  color: white;
}

.flight-table th {
  background-color: #000;
  color: #fff;
}

/* Highlight delayed status with a yellow background */
.flight-table .delayed {
  background-color: #efc439; /* Light yellow */
  color: #f8f7f5; /* Dark yellow text for contrast */
}

/* Highlight canceled status with a red background */
.flight-table .cancelled {
  background-color: #e54e5b; /* Light red */
  color: #f8f6f6; /* Dark red text for contrast */
}


.flight-table .diverted {
    background-color: #589de6; /* Light blue */
    color: #000; /* Dark blue */
}

.flight-table .boarding{
    background-color: #60e780; /* Light green */
    color: #000; /* Dark green */

}